*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.csv-link{
    text-decoration: none;
}

#info-table{
    width: 80%;
}

.page-head{
    margin-top: 24px;
    font-weight: 600;
    font-size: 32px;
}
.sub-head{
    font-size: 16px;
}
.csv-icon{
    vertical-align: bottom;
    width: 24px;
    height: 24px;
}
.item-center{
    text-align: center;
}
.item-right{
    text-align: right; 
    padding-right: 56px;
}

.table-head{
    background-color: darkslategray;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: large;
    letter-spacing: 2px;
}

.member-col{
    text-align: center;
    width: 35% !important;
}
.member-list{
    text-align: center; 
    font-weight: 600;
}


.submit-form.submit-hide{
    display: none;
}
.refresh-form{
    display: none;
}
.refresh-show{
    display: block;
}

.text-gray{
    color: darkslategray !important;
}

.btn{
    box-shadow: 1px 2px 2px 0px gray;
    padding-top: 3px !important;
    padding-bottom: 4px !important;
    border-radius: 4px !important;
    letter-spacing: 0.10em;
}
.btn:hover{
    box-shadow: none;
}
.btn-link{
    text-underline-offset: 2px;
}

.input-amount{
    min-width: 180px;
    text-align: right;
}

.md-8{
    font-size: 8px !important;
}
.md-10{
    font-size: 10px !important;
}
.md-12{
    font-size: 12px !important;
}
.md-14{
    font-size: 14px !important;
}
.md-16{
    font-size: 16px !important;
}
.md-18{
    font-size: 18px !important;
}
.md-20{
    font-size: 20px !important;
}
.md-22{
    font-size: 22px !important;
}
.md-24{
    font-size: 24px !important;
}
.md-26{
    font-size: 26px !important;
}
.md-28{
    font-size: 28px !important;
}

.white-1{
    min-height: 1px;
}
.white-4{
    min-height: 4px;
}
.white-8{
    min-height: 8px;
}
.white-12{
    min-height: 12px;
}
.white-24{
    min-height: 24px;
}
.white-32{
    min-height: 32px;
}


.manual-image{
    max-height: 480px !important;
    box-shadow: 2px 2px 2px 0px gray, -1px -1px #dddddd;
    border-radius: 4px;
}
.manual-image:hover{
    box-shadow: 1px 1px 1px 0px gray;
}
.step{
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.end{
    font-weight: bold;
    font-size: 22px;
}